    .hw{text-align:center;
      color:red;
      font-size:50px;
      font-family:courier;}
   
    .wc{text-align:center;
      color:green;
      font-size:75px;
      font-family:arial;}
    body{background-color:grey;}
	
  
   